<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Biblioteca de Jogos</title>
</head>
<header>
    <h1>Biblioteca de Jogos</h1>
</header>
<body>
    <ul>
        {% for jogo in jogos %}
        <li>{{ jogo[1] }} - {{ jogo[2] }} - {{ jogo[3] }} - {{ jogo[4] }}
            <ul>
                <li><a href="/editar_jogo/{{ loop.index0 }}">Editar</a></li>
                <li><a href="/apagar_jogo/{{ loop.index0 }}">Apagar</a></li>
            </ul>
        </li>
        {% endfor %}
    </ul>
     <section>
        <a href="/adicionar_jogo">
            <button>
              <span class="button-text">Adicionar Jogo</span>
            </button>
        </a>
    </section>
</body>
<footer>
    <section class="direitos">
        <p class="p3">© 2024. Todos os direitos reservados.</p>
    </section>
</footer>
</html>